{% extends 'main.html' %}


{% block content%}

<div class="body-container">

        <div class="signup-form">

            <a href="{% url 'user-profile' request.user.profile.id %}"><div class="back-btn">
                    &#8592;
            </div></a>
            <br>
            <br>
            <form class="form-group" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-control">
                    <label for="">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

                <input class="message-btn" type="submit" value="Confirm">

            </form>

        </div>


    </div>

{% endblock %}
